.Body {
  width: 1200px;
  background: rgb(34,193,195);
  background: -webkit-linear-gradient(bottom, rgba(34,193,195,0.5354516806722689) 0%, rgba(165,221,238,0.5046393557422969) 100%);
  background: -o-linear-gradient(bottom, rgba(34,193,195,0.5354516806722689) 0%, rgba(165,221,238,0.5046393557422969) 100%);
  background: linear-gradient(to top, rgba(34,193,195,0.5354516806722689) 0%, rgba(165,221,238,0.5046393557422969) 100%);
  margin: 0 auto;
  border-radius: 15px;
  color: white;
  height: 100%;
}

.Wrapper {
  padding: 40px;
}
