.Friend {
  background-color: #51DFE5;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
}

.Friend:hover {
  background-color: #89DEE2;
}

.Name {
  color: white;
  text-decoration: none;
}
