.Friend {
  background-color: #5AB8BB;
  margin-right: 20px;
  border-radius: 10px;
  padding: 10px;
}

.Friend:hover {
  background-color: #65C7CA;
}

.Name {
  color: white;
  text-decoration: none;
}
